body{
    background-image: url(slike/yellow-background-with-chinese-food.jpg);
    background-size: 1550px;
  width:  700px;
  height: 600px;
}
.sadrzaj1{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}
.meni-ukupno{
  font-family: sans-serif;
  font-size: 14px;
}
.meni{
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #bcc;
}
.grupni-meni{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}
@media screen and (min-width: 992px) {
  .meni{
    font-size: 16px;
  }
  .grupni-meni{
    grid-template-columns: repeat(2,1fr);
  }
}
.meni-sadrzaj{
  display: flex;
}
.meni-sadrzaj-slika{
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}
.meni-sadrzaj-tekst{
  flex-grow: 1;
}
.meni-sadrzaj-naslov{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.meni-sadrzaj-opis{
  line-height: 1.6;
}